<div *ngIf="posts.length > 0 ;else ifEmpty">
  <div *ngFor="let post of posts;let i = index" class="col-lg-4 col-md-4 ">
    <div class="home" [ngStyle]="{backgroundColor: getColor(i)}">

      <div class="col-md-6  text-holder">
        <img class="img-responsive" src="{{ post.imageUrl }}" alt="">
        <div>
          <span>{{ username | shorten:0:10 }}</span>
          <span>{{ post.time | date:'h' }}h</span>
        </div>
      </div>
      <div class="col-md-6  icon-holder">
        <span (click)="onDelete(i)">X</span>
      </div>
      <div class="col-md-12">
        <p>{{ post.thougths }}</p>
      </div>
      <div class="row">

        <div class="col-xs-6 image">
          <img class="img-responsive" src="{{ post.imageUrl }}" alt="">
        </div>
        <div class="col-xs-6">
          <div class="feel"> Feeling <span>{{ post.feeling }} </span></div>
        </div>
      </div>

    </div>
  </div>
</div>
<ng-template #ifEmpty>
  <div class="noPosts">
    <div>You Have No Favourite Posts</div>
  </div>
</ng-template>
